:root {
font-size: 16px;
font-family: 'Red Hat Display';
--text-primary: #b6b6b6;
--text-secondary: #ececec;
--bg-primary: #23232e;
--bg-secondary: #141418;
}

body {
background-color: #30342b;
margin: 0;
padding: 0;

}

html ::-webkit-scrollbar {
width: 0.25rem;
}
html ::-webkit-scrollbar-track {
    background: #282828;
    }
html ::-webkit-scrollbar-thumb {
    background: #8bbb55;
    }
main {
margin-left: 5rem;
padding: 1 rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}

h1{
   font-size: 100px;
   color: #8bbb55;
   
}
#myName{
    font-family:'Red Hat Display';
    position: absolute;
    left:9.7%;
    top: 3.5%;
    display:flex;
    text-align: center;
    justify-content: center;
}

#content {
    font-family:'Red Hat Display';
    margin-top: 50px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    height: 100vh;
    background-color: #282828;
    gap: 10px;
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content:space-around;
}
.button{
transition-property: transform;
transition-duration: 0.2s;
transition-timing-function: ease-in-out;
transition-delay: 0s;
}
.button:hover {
    transform: translateY(-10px);

}